.section__main-studio {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;

  background-color: $footer-color;

  background-repeat: no-repeat;
  background-position: center;
}

.section__main-studio {
  max-width: 767px;
  min-height: 400px;
  padding: 118px 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bcmobile.jpg);
  background-size: cover;
}



.section__main-studio {
  @media screen and (min-width: $tablet) {
    max-width: 1199px;
    min-height: 400px;
    padding: 118px 0;
    background-size: cover;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bctablet.jpg);
  }
}


.section__main-studio {
  @media screen and (min-width: $desctop) {
    max-width: 1600px;
    min-height: 600px;
    padding: 200px 0;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bcdesctop.jpg);
    background-size: cover;
  }
}

@media (min-device-pixel-ratio: 2),
  (webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section__main-studio {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bctablet2x.jpg);
  }
}



@media (min-device-pixel-ratio: 2),
  (webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section__main-studio {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bcdesctop2x.jpg);
  }
}

@media (min-device-pixel-ratio: 2),
  (webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section__main-studio {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bcmobile2x.jpg);
  }
}

.main-studio__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  color: $title-color;
  letter-spacing: 0.06em;
  margin-bottom: 30px;

  @media screen and (min-width: $desctop) {
    font-size: 44px;
    line-height: 1.4;
  }
}

.button-title {
  padding: 10px 24px;
  border-radius: 4px;
  display: inline-block;
  border: none;
  min-width: 200px;
  background-color: $accent-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 6%;
  color: $title-color;
  cursor: pointer;

  transition: background-color $cubic-bezier;

  &:hover,
  &:focus {
    background-color: $secondary-accent-color;
    color: $title-color;
  }
}

.section__studio {
  padding-top: 60px;

  @media screen and (min-width: $desctop) {
    padding-top: 94px;
  }
}

.section__studio-list {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media screen and (min-width: $desctop) {
    display: flex;
    gap: 30px;
  }
}

.section__studio-item {
  @media screen and (min-width: $mobile) and (max-width: 767px) {
    width: 450px;
  }
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    width: 354px;
  }

  @media screen and (min-width: $desctop) {
    width: 270px;
  }
}

.section__studio-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 120px;
  margin-bottom: 30px;

  background-color: $button-color;
}

.section__studio-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.section__studio-description {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
